@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      align-items: center;
      margin: auto;
      max-width: 320px;
    }

    .Login form > *{
      margin-top: 10px;
    }

    .Login h1{
      text-align: center;
    }

    .Login h3{
        text-align: center;
      }

  }