@media all and (min-width: 480px) {
    
    .UserManagement {
        padding: 5px 0;
    }

    .SearchUserBox{
        padding-left: 40px;
    }

    .UserButtons{
        padding-left: 40px;
        padding-top: 20px;
    }

    .UserManagement h1{
        padding-left: 40px;
        text-align: left;
    }
}